.mycontainer{
    background-color: rgb(244, 243, 243);
}
body a{
    color:rgb(71, 62, 52);
	text-decoration: none;
    padding-top: 2px;
    padding-bottom:10px;
    text-decoration: none;
}
.account a{
    color:rgb(123, 105, 82);
	text-decoration: none;
    padding-top: 2px;
    padding-bottom:10px;
    text-decoration: none;
	display: block;
}

.logout a:hover{
    color: rgb(194, 71, 71);

}
.full-height{
    min-height:100vh !important;
}
