
body{
	background-color: hsl(0, 0%, 94%);
}

.container-md h1{
	padding: 5px;
}

body a{
    color:rgb(139, 117, 91);
	text-decoration: none;
}

.driversreg{
    width: 1080px;
	height: auto;
	background: rgba(0, 0, 0, 0.705);
	color:rgb(139, 117, 91);
	position:absolute;
    top:50%;
	left: 50%;
    transform: translate(-50%,-50%);
	box-sizing:border-box;
    padding: 40px 30px;
    border-radius: 10px;

}

.driversreg input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.avatar{
    left: 40%;
    width: 576px;
	height: 360px;
    position: absolute;
    
}
.pavatar{
	top: 48%;
    left: 48%;
    width: 400px;
	height: 250px;
    position: absolute;
    
}
.signupbox{
	width: 320px;
	height: auto;
	background: rgba(0, 0, 0, 0.705);
	color:rgb(139, 117, 91);
	top:50%;
	left: 50%;
	position: absolute;
    transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 10px;
}


/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }